{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
  {"(linux|darwin)", compile, "make -C c_src"}
]}.
{post_hooks, [
  {"(linux|darwin)", clean, "make -C c_src clean"}
]}.

{plugins, [rebar3_ex_doc]}.
{ex_doc, [
    {main, "README.md"},
    {extras, [
        "README.md"
    ]},
    {source_url, "https://github.com/erlangsters/opengl-es-3.2"}
]}.
